---
layout: default
---
{% comment %}
	This layout is used to by property.md to display all of documents in
	the _properties/ collection
{% endcomment %}

{% include breadcrumbs.html %}

<div class="container pure-g">
	<div class="pure-u-1">
		<div class="content">
			<div class="grid-layout">
				<div class="container pure-g">
					{% for property in site.properties %}
					<div class="pure-u-1 pure-u-md-1-3">
						<div class="card">
							<div class="card-header">
							{% if property.image and property.image != "" %}
							<img src="{{ property.image | absolute_url }}" alt="{{ project.title }}">
							{% else %}
								<img src="{{ "/img/placeholder.png" | absolute_url }}" alt="{{ property.title }}">
							{% endif %}
							</div>
							<div class="card-body">
								<h3><a href="{{ property.url | absolute_url }}">{{ property.title }}</a></h3>
								<a href="{{property.link}}">View Cottage</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
